/* CSS declarations go here */
.hidden_div{
	display:none;
}

.signon{
	padding-top: 15px;
	text-align: left;
}

.line{
	margin-top: 3px;
}

fieldset{
	border:5px solid #a0a0a0;
	margin-bottom:10px;
	border-radius:10px;
	width: 720px;
}

legend{
	color: #808080;
}

.js-upvote{
	padding-left: 20px;
	padding-right: 20px;
}

em{
	padding-left: 15px;
}

.total{
	text-align: left
}